<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>OAuth</title>
    <style>
        body > div {
            float: left;
            margin: 4em;
        }
    </style>
</head>
<body>
<div>
    <h1>Pages:</h1>
    <a href="/register">Register as a User</a>
    <br>
    <a href="/login">Login as a User</a>
    <br>
    <a href="/clientRegister">Register as a Client</a>
    <br>
</div>

<div>
    <h1>Our API endpoints:</h1>
    <p><strong>/api/random</strong> - spits a random movie quote</p>
    <p><strong>/api/id/NUMERIC_ID</strong> - shows a movie quote with the given NUMERIC_ID</p>
    <p><strong>/api/user/get/quote</strong> - TO DO</p>
    <p><strong>/api/user/add/quote</strong> - TO DO</p>
</div>

</body>
</html>