<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Login</h1>

<form method="post" action="">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"/>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"/>
    <input type="submit" value="Login"/>
</form>
<script>
    $(function() {
        $("form").on("submit", function(evt) {
            evt.preventDefault();

            return false;
        })

    })
   </script>

</body>
</html>